body {
    background-color: rgb(252, 252, 252);
    color: #121a2efa; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.tema-oscuro {
    background-color: #121a2efa; 
    color: rgb(252, 252, 252);   
}


.div_barra {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    z-index: 999;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.div_barra img {
    width: 30px;
    z-index: 1001; /* Asegurar que esté sobre otros elementos */
    transform: translateY(10px) translateX(-290px);
}

.div_tema {
    top: 10px;
    right: 10px;
    z-index: 999; /* Asegurar que esté detrás del botón */
}

#cambiar-tema {
    display: flex;
    flex-wrap: wrap;
    border: none; /* Quita el borde del botón */
    background: none; /* Quita el fondo del botón */
    cursor: pointer;
    outline: none; /* Quita el contorno al hacer clic */
}

/* Estilo de la barra de desplazamiento en la página normal */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ddd; /* Color de fondo del indicador de desplazamiento */
    border-radius: 6px;
}

/* Estilo de la barra de desplazamiento en la página con tema oscuro */
body.tema-oscuro::-webkit-scrollbar-thumb {
    background-color: #121a2efa; /* Cambia el color del indicador en el tema oscuro */
}

.div_general{
    transform: translateY(5%) translateX(40%);
    font-size: 25px;
    position: absolute;
    max-width: 55%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: -1;
}

.div_nick{
    transform: translateY(-10%) translateX(26%);

}

#desc_nick{
    transform: translateY(-80%) translateX(0%);
    font-size: 20px;
    color: #215E89;
    height: 100%;
}

.div_name_desc{
    transform:  translateY(-125%) translateX(10px);
}

.div_avatar {
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #215e898c;
    transform: translateY(10%) translateX(-110%);
    border: 5px solid #121a2efa;
    transition: background-color 0.7s ease;
}

.tema-oscuro .div_avatar{
    width: 190px;
    height: 190px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #121a2efa;
    transform: translateY(10%) translateX(-110%);
    border: 5px solid #1742614b;
}

.div_avatar img {
    width: 270px;
    max-width: 270px;
    height: auto;
    object-fit: cover;
    transform: translateY(0%) translateX(-14%);
}

  

.div_descripcion{
    transform: translateY(-10%) translateX(0%);
}

.div_nick {
    transform: translateY(-10%) translateX(26%);
}

.palabra {
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #535353fa;
    animation: escribiendo 3s steps(25) forwards, parpadeo 2s infinite 3s;
    margin-right: 2px;
    display: inline-block; 
    max-width: 180px;
}

@keyframes escribiendo {
    from {
        width: 0;
    }
    to {
        width: 180px;
    }
}

@keyframes parpadeo {
    0%, 50%, 100% {
        border-color: transparent;
    }
    25%, 75% {
        border-color: #535353fa;
    }
}


#exp{
    font-size: 30px;
    transform: translateY(20px);
}

.backend{
    transform: translateY(40px);
    line-height: 0.5;
}

#back{
    font-size: 22px;
}

#back_desc{
    font-size: 55%;
    color: #215E89;
}

.info_exp{
    list-style: none;
    font-size: 18px;
    transform: translateY(30%);
}


.info_exp li{
    margin-left: 0em;
    margin-bottom: 1.0em;
}

.info_exp li::before{
    content: "● "; /* Agrega el círculo como marcador y la palabra "Item" */
    color: #215E89;
    margin-bottom: 0.5em;
}


#div_proyects{
    font-size: 30px;
    transform: translateY(100px);
}


#video-container {
    position: relative;
    width: 50%;
    max-width: 50%;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    box-shadow: 4px 4px 10px #121a2efa;
    transition: box-shadow 0.3s ease;
}

#video-proyect1 {
    width: 100%;
    height: auto;
}

#video-container:hover {
    box-shadow: 8px 8px 20px #121a2efa;
}

.proyect1_info{
    width: 40%;
    transform: translateY(-108%) translateX(137%);
    font-size: 20px;
}

.proyect1_info p{
    position: relative;
    z-index: 2;
}

.p1{
    display: flex;
}


.img_p1{
    display: flex;
}

.div_django,
.div_mysql {
    width: 50px;
    height: 50px;
    transform: translateX(0%);
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    margin: 5px;
}

.div_django img{
    width: 100px;
    max-width: 100px;
    object-fit: cover;
    z-index: 1;
    transform: translateX(-25px);
}

.div_mysql img{
    width: 65px;
    max-width: 90px;
    object-fit: cover;
    z-index: 1;
    transform: translateY(-5px) translateX(-5px);
}

.tema-oscuro .proyects:hover img {
    box-shadow: 4px 4px 20px #121a2efa; /* Ajusta la sombra en modo oscuro al pasar el mouse */
}

#div_educacion{
    transform: translateY(-30%);
    line-height: 0.4;
}

.educacion_info{
    transform: translateY(10%) translateX(-10px);
    font-size: 18px;
}

.educacion_info h4{
    position: absolute;
    top: -16px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la derecha */
    font-size: 14px; /* Ajusta el tamaño del texto según sea necesario */
}

.div_certificado {
    background-color: #2a628a8c; /* Color de fondo del certificado */
    border-radius: 7px;
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    transform: translateY(10px);
}

.certificado {
    letter-spacing: 2px;
    color: #121a2efa; /* Color del texto del certificado */
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease; /* Agrega una transición al color del texto */
}

.div_certificado:hover {
    background-color: #215e89a2; /* Nuevo color del fondo al pasar el ratón por el certificado */
}

.div_certificado:hover .certificado {
    color: #27365f; /* Nuevo color del texto al pasar el ratón por el certificado */
}

.tema-oscuro .div_certificado {
    background-color: #27365f; /* Color de fondo del certificado */
    border-radius: 7px;
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.tema-oscuro .certificado {
    letter-spacing: 2px;
    color: rgb(252, 252, 252); /* Color del texto del certificado */
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease; /* Agrega una transición al color del texto */
}

.tema-oscuro .div_certificado:hover {
    background-color: #27365fa8;  /* Nuevo color del fondo al pasar el ratón por el certificado */
}

.tema-oscuro .div_certificado:hover .certificado {
    color: rgb(179, 179, 179); /* Nuevo color del texto al pasar el ratón por el certificado */
}

.educacion_info1{
    transform: translateY(40px);
}

.div_redes{
    transform: translateY(10px);
    line-height: 2.3;
}

#redes{
    font-size: 30px;
}

.div_git{
    transform: translateY(-10px);
}

#git {
    font-size: 23px;
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto */
    margin-top: 10px;
}

#git::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #215E89;
    transition: width 0.3s ease; /* Añade una transición a la propiedad width */
    bottom: 10px;
}

#git:hover::before {
    width: 100px;
}

#github-img{
    width: 23px;
    transform: translateY(1px) translateX(0px);
}



#gmail{
    font-size: 30px;
}

.correo-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    transform: translateY(-50px) translateX(-20px);
    position: absolute;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
    transform: translateX(-15px);
}

.correo-info {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(35px);
}

.correo {
    font-size: 20px;
    padding: 10px;
    background-color: #215e8941;
    border-radius: 10px;
    flex-grow: 1;
    width: 400px;
    display: inline-block;
    
}

button {
    display: block;
    padding: 10px 25px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    background-color: #999c9e; /* Color de fondo predeterminado */
    color: #1a1a1a; /* Color de texto predeterminado */
}

button:hover {
    background-color: #215e8941;
    color: #215E89; /* Cambia el color de fondo al pasar el ratón por encima */
}


@media only screen and (min-width: 0px) and (max-width: 600px) {
    .div_general{
        width: 450px;
        max-width: 450px;
        transform: translateX(10px);
    }
    .div_nick{
        transform: translateY(100px) translateX(-35px);
    }

    .div_barra{
        max-width: 800px;
    }

    #emoji-img{
        transform: translateX(0px);
    }

    #cambiar-tema{
        transform: translateX(-0px);
    }

    .div_avatar{
        transform: translateX(85%);
    }


    .tema-oscuro .div_avatar{
        transform: translateX(85%);
    }

    .div_name_desc{
        text-align: center;
        transform: translateY(-10%) translateX(45px);
    }

    img{
        transform: translateX(-60px);
    }
    
    .palabra {
        font-size: 24px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 2px solid #838383;
        animation: escribiendo 3s steps(25) forwards, parpadeo 2s infinite 3s;
        margin-right: 2px;
        display: inline-block; 
        max-width: 210px;
    }
    

    @keyframes escribiendo {
        from {
            width: 0;
        }
        to {
            width: 246px;
        }
    }
    
    @keyframes parpadeo {
        0%, 50%, 100% {
            border-color: transparent;
        }
        25%, 75% {
            border-color: #535353fa;
        }
    }

    .div_descripcion{
        transform: translateY(13%);
    }
    .p1{
        width: 70%;
        max-width: 70%;
    }

    #div_proyects{
        transform: translateY(15%) translateX(15px);
    }

    .proyect1_info{
        transform: translateY(0%);
    }

    #div_educacion{
        transform: translateY(40%) translateX(15px);
    }

    .educacion_info h4{
        transform: translateY(26px);
    }

    .info_exp{
        transform: translateY(40px);
    }

    .div_redes{
        transform: translateY(130%) translateX(15px);
    }

    .correo-container{
        transform: translateY(50%) translateX(10px);
    }
    .correo-container h2{
        width: 10%;
        transform: translateY(0%) translateX(135px);
    }

    #video-container{
        width: 100%;
        max-width: 100%;
        box-shadow: 4px 4px 10px #121a2efa;

    }

    #video-proyect1 {
        width: 100%;
        max-width: 100%;
        height: 90%;
    }

    }   
    
@media only screen and (min-width: 601px) and (max-width: 1024px) {
        
    #emoji-img{
        transform: translateX(0px);
    }

    #cambiar-tema{
        transform: translateX(-150px);
    }

    

    .div_general{
        max-width: 600px;
        position: relative;
        text-align: left;
    }
    }
    



